.page.theme_dark {
  --title-color: #ff0070
  --title-color-selected: #ff0070;
  --title-text-color: #db00ff;
  --text-color: #f1b2ce;
  --page-background: #000028 url("../images/cover-image-dark.png") no-repeat center / cover;
  --text-shadow-color: #ff0070;
  --button-color: #ff0070;
  --bg-color: #000028;
  --display-header-decor: inline-flex;
  --button-in-focuse: #ff007066;
}
