/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color-selected: #353430;
  --title-text-color: #ffc2e6;
  --text-color: #353430;
  --page-background: #fff1f7 url("../images/cover-image-light.png") no-repeat center / cover;
  --text-shadow-color: #ff0070;
  --button-color: #353430;
  --bg-color: #353430;
  --title-color: #ff8dcb;
  --display-header-decor: none;
  --button-in-focuse: #35343066;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color-selected: #353430;
    --title-text-color: #ffc2e6;
    --text-color: #353430;
    --page-background: #fff1f7 url("../images/cover-image-light.png") no-repeat center / cover;
    --text-shadow-color: #ff0070;
    --button-color: #353430;
    --bg-color: #353430;
    --title-color: #ff8dcb;
    --display-header-decor: none;
    --button-in-focuse: #35343066;
  }
}

@media (max-width: 1023px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--title-color);
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--title-color);
  }
}
